@import "base/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Museo Sans", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "bloks/promo";
@import "bloks/header";
@import "bloks/buttons";
@import "bloks/section-title";
@import "bloks/features";
@import "bloks/consultation";
@import "bloks/forms";
@import "bloks/catalog";
@import "bloks/feedback";
@import "media/media.scss";
