.section-title {
  text-align: center;
  font-weight: 700;
  color: #0d0d0d;
  font-size: 30px;
  text-transform: uppercase;
  &_consultation {
    font-size: 36px;
    line-height: 46px;
    color: #ffffff;
    text-align: left;
  }
}
